
.interviewContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    @media (max-width: 890px) {
        align-items: flex-end;
    }
}

.interviewDoingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    @media (max-width: 890px) {
        justify-content: end;
    }
}

.interviewContent{
    width: 700px;
    height: 600px;
    background-color: #F9F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    position: relative;

    h1{
        color: var(--orange);
        font-size: 30px;
    }

    ul, li{
        list-style: none;
        padding-left: 0px;  
    }

    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li{
            font-size: 20px;
            margin: 0px 10px;
        }
    }

    @media (max-width: 890px) {
        height: 90vh;
        bottom: 0;
        border-radius: 20px 20px 0px 0px;

        label{
            background-color: #f0a37d;
            padding: 10px;
            border-radius: 10px;
            margin: 15px;
        }
    }
}

.techContent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 30px 30px;
    cursor: pointer;

    input ~ .checkmark {
        border: none;
    }    

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    input:checked ~ .checkmark {
        background-color: var(--orange);
    }
    
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid grey;
  }

  .goInterviewButton{
    padding: 10px 20px;
    position: absolute;
    bottom: 20px;
  }

.messagesContainer{
    width: 100%;
    max-width: 1000px;
    height: 80vh;
    background-color: white;
    border-radius: 20px; 
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #D75413;

    @media (max-width: 890px) {
        border: none;
        border-radius: 20px 20px 0px 0px;
    }
}

.messagesContainer::-webkit-scrollbar {
    width: 12px;   
    border-radius: 0px 20px 20px 0px; 
    @media (max-width: 890px) {
        width: 0px;
    }
  }
  
  .messagesContainer::-webkit-scrollbar-track {
    background: var(--orange);  
    border-radius: 0px 20px 20px 0px;       
  }
  
  .messagesContainer::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 0px 10px 10px 0px; 
    border: 3px solid var(--orange); 
  }

.inputMessageContainer{
    width: 100%;
    max-width: 1000px;
    height: 100px;
    margin-top: 20px;
    background-color: var(--orange);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    input{
        background-color: white;
        width: 85%;
        height: 70%;
        color: black;
    }

    @media (max-width: 890px) {
       border-radius: 0;
       bottom: 0;
       input{
            width: 65%;
        }

    }

}