.profilePageContainer{

    width: 100%;
    max-width: 1000px;
    margin: auto;

    div{
        border-radius: 20px;
    }
}

.infoBlock{
    background-color: #F9F2F2;
    width: 90%;
    margin: auto;
    height: 300px;
    margin-top: 20px;
}

.featureBlock{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 40px;

    @media (max-width: 890px) {
        flex-direction: column;
    }
}

.curriculumBlock{
    display: flex;
    justify-content: center;
    background-color: #C4E3FF;
    height: 400px;
    width: 48%;
    cursor: pointer;
    
    &:hover{
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 30%);
    }

    button{
        background-color: #70B7F8;
        padding: 10px 20px;
    }

    @media (max-width: 890px) {
        width: 100%;
        height: 170px;
        align-items: center;
        justify-content: space-around;

        img{
            max-width: 120px !important;
        }

        button{
            height: 60px;
            margin: 10px;
        }
    }

}

.interviewBlock{
    display: flex;
    justify-content: center;
    background-color: #D0FFDA;
    height: 400px;
    width: 48%;
    cursor: pointer;

    &:hover{
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 30%);
    }

    button{
        background-color: #39DD5D;
        padding: 10px 20px;   
    }

    @media (max-width: 890px) {
        width: 100%;
        height: 170px;
        margin-top: 40px;
        align-items: center;
        justify-content: space-around;

        img{
            max-width: 120px !important;
        }

        button{
            height: 60px;
            margin: 10px;
        }
    }
}