body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D75413;
}

h1, h2, h3, h4, p, li, a {
    margin: 0;
}

:root{
    --orange: #D75413;
    --mediumorange: #d7541387;
    --lightorange: #F9F2F2;
}

input{
    background-color: var(--mediumorange);
    color: white;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 16px;
}

input::placeholder {
    color: var(--lightorange);
  }

button{
    background-color: var(--orange);
    color: white;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
}

.message{
    margin: 20px;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.message.interviewer{
    background-color: #f18c59;
    position: relative;
}

.message.interviewer::before{
    content: '';
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid #f18c59; 
    position: absolute;
    left: -9px;    
    top: 20px;
}

.message.candidate{
    background-color: #f5c3ac;
    align-self: flex-end;
    position: relative;
}

.message.candidate::after{
    content: '';
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f5c3ac;
    position: absolute;
    right: -9px;
    top: 20px;
}

.message.option{
    width: 50%;
    padding: 10px 20px;
    margin: 10px 20px;
    background-color: #cacaca;
}

.message.option::before{
    display: none;
}

.message.answer{
    width: 50%;
    padding: 10px 20px;
    margin: 10px 20px;
    background-color: #cacaca;
}

.message.answer::before{
    display: none;
}

