.passwordRegistration{
    display: flex;
    justify-content: space-between;
    width: 415px;

    @media (max-width: 890px) {
        width: 90%;
        height: 60px;
    }
    input{
        width: 45%;
    }
}